@use "base.scss";

.about-column {
    @extend .container-horizontal;

    width: 100vw;
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0;

    justify-content: center;

    background: url("/assets/ferns.avif");
    color: base.$color-text-light;

    .title {
        font-size: 3rem;
        margin: 1rem;
    }

    .content {
        @extend .container-vertical;

        width: 100%;
        max-width: 1000px;

        margin-top: 0;
        padding: 3rem;
        gap: 2rem;
        border-radius: 0.5rem;

        background-color: rgb(from base.$color-background r g b / 50%);
        backdrop-filter: blur(5px);
        filter: drop-shadow(0 0 2rem black);
    }

    p {
        margin: 0;
    }

    .about-banner {
        width: 100%;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border-color: black;

        a {
            border-radius: 1rem;
            border: white 2px solid;
            padding: 0.8rem;
            text-align: center;
            text-decoration: none;
            font-size: 2.5rem;

            color: white;

            div {
                display: flex;
                gap: 0.6rem;
                overflow: visible;
            }

            img {
                width: 1em;
                overflow: visible;
            }

            &:hover {
                transform: translate(0, -3px);
                filter: drop-shadow(7px 7px 4px black);
            }

            filter: drop-shadow(3px 3px 4px black);
        }
    }

    @keyframes wave {
        0% {
            transform: translate(0, -5px);
        }

        100% {
            transform: translate(0, 5px);
        }
    }

    .waving {
        transform: translate(0, 5px);
        display: inline-block;
        animation: wave ease-in-out alternate-reverse infinite 1s;
    }

    @for $i from 1 through 10 {
        .waving:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.1}s;
        }
    }
}