$color-text-light: #c9dac9;
$color-text-dark: #0b3a15;
$color-background: #11501f;
$color-primary: #3D2412;
$color-secondary: #cf84f7;
$color-accent: #f341dd;

@mixin font($size, $weight: 400) {
    //font-color: $color-text;
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "MONO" 1;
    font-size: $size;
    font-weight: $weight;
}

body {
    overflow-x: hidden;
    overscroll-behavior-y: none; // TODO: This isn't working. How to fix
    margin: 0;

    @include font(larger, 600);

    .link {
        color: $color-text-light;
        text-decoration: underline;
        white-space: nowrap;

        &:hover {
            font-weight: 700;
        }
    }

    .container-vertical {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
    }

    .container-horizontal {
        display: flex;
        align-items: center;
        flex-flow: row wrap;

        &.reverse {
            flex-direction: row-reverse;
        }
    }
}