@use 'base.scss';
@use 'sass:color';

// TODO: Lots of magic numbers
.header {
    @extend .container-horizontal;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 9999;

    gap: 0.8rem;
    padding: 0.8rem;

    // Make eet pretty
    box-shadow: 0px 5px 10px 1px #06110b;
    background-color: rgb(from #0a2718 r g b / 70%);
    backdrop-filter: blur(30px);

    .header-button {
        padding: 0.5rem;

        color: base.$color-text-light;
        font-size: 1.5rem;

        filter: drop-shadow(3px 3px 5px #000000);

        &:hover {
            filter: brightness(80%) drop-shadow(9px 9px 5px #000000);
            transform: translate(0, -3px)
        }
    }

    .header-image {
        @extend .header-button;

        width: 4rem;
        padding: 0;

        border-radius: 1rem;
        border: 3px solid base.$color-text-light;
        display: block;

        filter: drop-shadow(3px 3px 5px #000000);

        &:hover {
            filter: brightness(80%) drop-shadow(9px 9px 5px #000000);
            transform: translate(0, -3px)
        }
    }
}