@use 'base.scss';
@use 'sass:color';

// TODO: Lots of magic numbers
.header {
    @extend .container-horizontal;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 9999;

    gap: 0.8rem;
    padding: 0.8rem;

    // Make eet pretty
    backdrop-filter: blur(30px);

    .header-button {
        padding: 0.5rem;
        font-size: 1.5rem;
        color: inherit;

        filter: drop-shadow(3px 3px 5px #000);

        &:hover {
            filter: brightness(80%) drop-shadow(9px 9px 5px #000);
            transform: translate(0, -3px)
        }
    }

    .header-image {
        @extend .header-button;

        width: 4rem;
        padding: 0;

        border-radius: 1rem;
        border: 3px solid;
        display: block;

        filter: drop-shadow(3px 3px 5px #000);

        &:hover {
            filter: brightness(80%) drop-shadow(9px 9px 5px #000);
            transform: translate(0, -3px)
        }
    }
}

@mixin season($text, $shadow, $background) {
    color: $text;

    box-shadow: 0px 5px 10px 1px $shadow;
    background-color: rgb(from $background r g b / 70%);

    & .header-image {
        border-color: $text;
    }
}

.summer {
    @include season(#c9dac9, #06110b, #0a2718);
}

.fall {
    @include season(#cfb48a, #110d06, #632f17);
}

.winter {
    @include season(#c3e6e9, #2d323b, #758ab6);
}